html {
  overflow: scroll;
  overflow-x: hidden; }
  html body {
    background-color: #2e253a;
    background: -webkit-gradient(linear, left top, left bottom, from(#2e253a), to(#292929));
    background: -webkit-linear-gradient(#2e253a, #292929);
    background: -o-linear-gradient(#2e253a, #292929);
    background: linear-gradient(#2e253a, #292929);
    position: relative; }
    html body header {
      width: 100vw;
      height: 300px; }
      html body header h1 {
        color: white;
        font-size: 70px;
        text-shadow: 5px 5px 6px #000000;
        margin-bottom: 0; }
    html body .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
      background-color: rgba(46, 37, 58, 0.5);
      padding: 10px 0 10px 0;
      magin-top: 30px;
      border: none;
      width: 100%;
      -webkit-box-shadow: 0 20px 20px -20px #ffffff;
      box-shadow: 0 20px 20px -20px #ffffff; }
      html body .menu i {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
        font-size: 40px;
        color: white;
        text-shadow: 5px 4px 5px #000000; }
        html body .menu i:hover {
          -webkit-transform: scale(1.3);
          -ms-transform: scale(1.3);
          transform: scale(1.3);
          -webkit-transition: 0.5s ease;
          -o-transition: 0.5s ease;
          transition: 0.5s ease;
          cursor: pointer; }
  html .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 50px 8% 0 8%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    html .main-content .game-title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-line-pack: center;
      align-content: center;
      width: 100vw;
      margin: 15px 0 80px 0; }
      html .main-content .game-title h2 {
        font-size: 50px;
        text-shadow: 2px 2px 4px #000000;
        color: white;
        margin-bottom: 25px; }
    html .main-content .game-logo {
      padding: 0px 10px 0 10px; }
      html .main-content .game-logo video {
        width: 720px;
        height: 407px;
        -webkit-box-shadow: 0 0 25px 0px #000000;
        box-shadow: 0 0 25px 0px #000000;
        -webkit-filter: contrast(100%);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        html .main-content .game-logo video:hover {
          -webkit-filter: contrast(115%);
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.05);
          transform: scale(1.05);
          -webkit-transition: 0.5s ease;
          -o-transition: 0.5s ease;
          transition: 0.5s ease; }
      html .main-content .game-logo .game-description {
        width: 500px;
        overflow-x: hidden;
        padding-right: 20px;
        height: 407px; }
        html .main-content .game-logo .game-description .description-list1 {
          -ms-flex-line-pack: center;
          align-content: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          text-align: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          height: 410px; }
          html .main-content .game-logo .game-description .description-list1 a {
            color: white;
            text-decoration: none;
            color: darkgray; }
        html .main-content .game-logo .game-description .emphasize {
          font-size: 28px;
          text-shadow: 2px 2px 4px #000000;
          text-align: initial;
          margin-bottom: 5px;
          color: white; }
          html .main-content .game-logo .game-description .emphasize .description {
            font-size: 18px;
            text-shadow: 2px 2px 4px #000000;
            color: white;
            width: 500px;
            text-align: left; }
  html footer {
    height: 220px; }
  html .main-cont-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 50px;
    border: none;
    width: 100%;
    -webkit-box-shadow: 0 20px 20px -20px white;
    box-shadow: 0 20px 20px -20px white;
    margin: auto; }
  html .suggestions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: space-evenly;
    align-content: space-evenly;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px 0 20px 0;
    border: none;
    width: 100%;
    -webkit-box-shadow: 0 20px 20px -20px white;
    box-shadow: 0 20px 20px -20px white;
    margin: auto; }
    html .suggestions .calc-icon i {
      font-size: 25px; }

html body {
  background-color: #171a21;
  background: -webkit-gradient(linear, left top, left bottom, from(#171a21), to(#292929));
  background: -webkit-linear-gradient(#171a21, #292929);
  background: -o-linear-gradient(#171a21, #292929);
  background: linear-gradient(#171a21, #292929); }

body .action, .adventure, .rpg, .strategy, .multiplayer {
  width: 400px;
  height: 250px;
  -webkit-box-shadow: 0 0 25px 0px #000000;
  box-shadow: 0 0 25px 0px #000000;
  -webkit-filter: contrast(100%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; }
  body .action:hover, .adventure:hover, .rpg:hover, .strategy:hover, .multiplayer:hover {
    -webkit-filter: contrast(115%);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease; }
  body .action p, .adventure p, .rpg p, .strategy p, .multiplayer p {
    font-size: 20px;
    text-align: center;
    color: white; }

.genres1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 120px 10% 0 10%; }
  .genres1 .action {
    background-image: url("../img/action.jpg"); }
  .genres1 .adventure {
    background-image: url("../img/adventure.jpg"); }
  .genres1 .rpg {
    background-image: url("../img/rpg.png"); }

.genres2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 30px 20% 0 20%; }
  .genres2 .strategy {
    background-image: url("../img/strategy.jpg"); }
  .genres2 .multiplayer {
    background-image: url("../img/multiplayer.jpg"); }

@font-face {
  font-family: Montserrat-Light;
  src: url("../fonts/Montserrat-Light.ttf"); }

h1, h2, p, a {
  font-family: Montserrat-Light; }

h1 {
  text-shadow: 5px 5px 6px #000000; }

h2, p {
  text-shadow: 2px 2px 4px #000000; }

a {
  color: white;
  text-decoration: none; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url("../img/google.svg");
  background-color: #171a21;
  background-repeat: no-repeat;
  background-position-y: 20px;
  background-position-x: center; }

.searchbar input {
  width: 300px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 50px;
  border: none;
  font-family: Montserrat-Light;
  font-size: 15px;
  background-image: url("../img/searchIcon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  opacity: 0.6; }
  .searchbar input:hover {
    width: 370px; }

html body header .menu {
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 30px; }
