@font-face {
  font-family: Montserrat-Light;
  src: url("../fonts/Montserrat-Light.ttf"); }

html {
  overflow: scroll;
  overflow-x: hidden; }

body {
  background-color: #292929;
  position: relative; }
  body p, body h1, body h2 {
    font-family: Montserrat-Light; }

header {
  width: 100vw;
  height: 280px; }

h1 {
  color: white;
  font-size: 70px;
  text-shadow: 5px 5px 6px #000000;
  margin-bottom: 0; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-line-pack: space-evenly;
  align-content: space-evenly;
  background-color: rgba(41, 41, 41, 0.9);
  padding: 30px 0% 5px 0%;
  border: none;
  width: 90%;
  -webkit-box-shadow: 0 20px 20px -20px white;
  box-shadow: 0 20px 20px -20px white;
  margin: auto; }
  .menu i {
    font-size: 40px;
    color: white;
    text-shadow: 5px 4px 5px #000000; }
    .menu i:hover {
      color: darkgrey; }

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 50px 8% 0 8%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.game-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  width: 100vw;
  margin: 50px 0 80px 0; }
  .game-title h2 {
    font-size: 40px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    margin-bottom: 25px; }

.game-logo {
  padding: 0px 10px 0 10px; }
  .game-logo video {
    background-image: url("../img/evoland2L2.jpg");
    width: 720px;
    height: 407px; }

.game-description {
  width: 500px;
  overflow-x: hidden;
  padding-right: 20px;
  height: 407px;
  background-color: rgba(41, 41, 41, 0.9); }

.description-list1 {
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 410px; }

a {
  color: white;
  text-decoration: none; }
  a:hover {
    color: darkgray; }

.emphasize {
  font-size: 28px;
  text-shadow: 2px 2px 4px #000000;
  text-align: initial;
  margin-bottom: 5px;
  color: white; }

.description {
  font-size: 18px;
  text-shadow: 2px 2px 4px #000000;
  color: white;
  width: 500px;
  text-align: left; }

footer {
  height: 300px; }

.main-cont-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 30px;
  height: 80px;
  border: none;
  width: 90%;
  -webkit-box-shadow: 0 20px 20px -20px white;
  box-shadow: 0 20px 20px -20px white;
  margin: auto; }

.suggestions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: space-evenly;
  align-content: space-evenly;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px 0 20px 0;
  height: 80px;
  border: none;
  width: 90%;
  -webkit-box-shadow: 0 20px 20px -20px white;
  box-shadow: 0 20px 20px -20px white;
  margin: auto; }
  .suggestions p {
    font-size: 20px;
    text-shadow: 2px 2px 4px #000000; }
  .suggestions .calc-icon i {
    font-size: 40px; }
    .suggestions .calc-icon i:hover {
      color: darkgrey; }

#particles {
  position: relative; }
  #particles canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url("../img/fox.jpg");
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

input.searchbar {
  width: 220px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 50px;
  border: none;
  font-family: Montserrat-Light;
  font-size: 15px;
  background-image: url("../img/searchIcon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  opacity: 0.6;
  margin-top: 50px; }
  input.searchbar:hover {
    width: 350px; }
