@import main-structure.sass

+main-structure
+platform-grid
+particles

header

   display: flex
   align-content: center
   justify-content: center
   align-items: flex-end
   background-image: url("../img/google.svg")
   background-color: rgb(23,26,33) 
   background-repeat: no-repeat
   background-position: 200px

.searchbar   

    width: 220px
    height: 42px
    padding: 0 0 20px 250px

    input

        width: 220px
        box-sizing: border-box
        border: 2px solid #ccc
        border-radius: 50px
        border: none
        font-family: Montserrat-Light
        font-size: 15px
        background-image: url("../img/searchIcon.png")
        background-position: 10px 10px 
        background-repeat: no-repeat
        padding: 12px 20px 12px 40px
        -webkit-transition: width 0.4s ease-in-out
        transition: width 0.4s ease-in-out
        opacity: 0.6
        
        &:hover 

            width: 350px